// Colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

//primary colors ACINTEK
$bluefresh: rgb(1, 124, 220);
$bluelow: rgb(31, 67, 140);
$black: rgb(0, 0, 0);

//secondary colors ACINTEK
$darkblue: rgb(5 ,22, 92);
$lightblue: rgb(182, 223, 255);

//gradients colors ACINTEK
$gradient1: linear-gradient(90deg, rgba(31,67,140,1) 100%, rgba(1,124,220,1) 0%);
$gradient2: linear-gradient(90deg, rgba(5,22,92,1) 0%, rgba(182,223,255,1) 100%);

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;